@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400&display=swap");
.dashboardCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  min-height: 12.5rem;
  margin-top: -3rem;
  margin-bottom: -1.5rem;
}
.dashboard-container {
  padding-top: 3rem;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
}
.box-container {
  display: flex;
  background-color: red;
  color: white;
  flex-direction: column;
  text-align: center;
  width: 20rem;
  padding-top: 1.5rem;
  margin-left: 2rem;
}
.dashboard-title {
  text-align: center;
  font-family: Roboto -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 3rem;
}
.dashboard-title h1 {
  font-size: 3rem;
  color: rgb(39, 88, 88);
}
.dep {
  background-color: navy;
}
.leave {
  background-color: rgb(47, 164, 112);
}
.dashboard-icon {
  width: 50%;
  text-align: center;
  font-size: 5rem;
  padding: 1rem;
  /* background-color: green; */
}
.dashboard-number {
  width: 50%;
  text-align: center;
  font-size: 5rem;
  padding: 1rem;
  /* background-color: green; */
}
@media screen and (min-width: 800px) {
  .dashboard-icon {
    font-size: 6.5rem;
  }
  .dashboard-number {
    font-size: 6.5rem;
  }
}
@media screen and (max-width: 600px) {
  .box-container {
    margin: auto auto;
    margin-top: 1.5rem;
  }
}
